agent:
  acquisition:
    - namespace: traefik
      podName: traefik-*
      program: traefik
  
  env:
    - name: COLLECTIONS
      value: "crowdsecurity/traefik crowdsecurity/http-cve" 

lapi:
  persistentVolume:
    data:
      enabled: true
      size: 1Gi
      storageClassName: hostpath-sc # Add your own storage classe name

  service:
    type: ClusterIP
    ports:
      - name: lapi
        port: 8080
        targetPort: 8080
